.calendarFullDayAtBottom .sapMSinglePCGridContent {
    padding-top: 10px;
}

@media screen and (max-width: 700px) {
    .tblDisplayPhone {
        position: absolute;
        margin-left: -22%;
    }
}

@media screen and (min-width: 700px) {
    .tblDisplayTab {}
}