.dialogText {
    padding: 30px;
}

.notificationOutageTimeList .sapMListTblAlternateRowColorsPopin>:nth-child(4n-1), .notificationOutageTimeList .sapMListTblAlternateRowColorsPopin>:nth-child(4n) {
    background-color: #cecece;
}
