.box-center {
	text-align:center;
}

.vertical-center {
	justify-content: center;
}

.font-bold {
	font-weight: bold!important;
}

.statusBadge {
	background: #346187;
	padding: .4rem .5rem;
	border-radius: 0.5rem;
	border: 1px solid #dedede;
	color: white;
	font-weight: bold;
}

.grid-vertical-center {
	display: flex;
	align-items: center;
}

.description-text {
	font-size: 1.3rem!important;
	font-weight:bold!important;
}

.float-right {
	float:right;
}

.sapMBtn[data-highlight="true"] {
	border-bottom: 2px solid red;
}

.listIconVBox {
	width: 1.5rem;
}

.orderListItemFlexBox > div:nth-child(2) {
	width:5rem;
}

.orderListItemTitle {
	color: #cb8f00!important;
	font-size: 1rem;
}

.noMarginTop {
	padding-top: 0;
}

.orderListItemGrid .sapUiRespGridHSpace1{
	padding: 0 0.5rem 0 0!important;
}

/*
Disables manual text entries for the SAPUI5 StepInput control by default
*/
.sapMStepInput-CTX .sapMInput .sapMInputBaseInner:not(.sapMInputBaseReadonlyInner) {
	-webkit-user-select: none!important;
	-moz-user-select: none!important;
	-ms-user-select: none!important;
	user-select: none!important;
}

.sg3_orderlist .sapMLIB[data-dueState="due"] {
	border-color: red !important;
	border: 2px solid;
}
.sg3_orderlist .sapMLIB[data-dueState="notDue"] {
	
}

[data-ownOperation="true"]{
	color: #cb8f00!important;
	font-size: 1rem;
	font-weight: bold;
}

.fixtermin {
	color: white!important;
	background-color: red!important;
}

.fixtermin > .sapUiIcon {
	font-size: 1.5rem!important;
}

.ownDates {
	color: white!important;
	background-color: #6e8c1f!important;
}

.ownDates > .sapUiIcon {
	font-size: 1.5rem!important;
}

.spannung {
	color: black!important;
	background-color: yellow!important;
}

.spannung > .sapUiIcon {
	font-size: 1.5rem!important;
}

[data-colorexpandicon="red"] .sapMPanelExpandableIcon{
	color: red!important;
}

[data-colorexpandicon="orange"] .sapMPanelExpandableIcon{
	color: orange!important;
}

[data-colorexpandicon="gray"] .sapMPanelExpandableIcon{
	color: gray!important;
}

[data-colorexpandicon="green"] .sapMPanelExpandableIcon{
	color: green!important;
}

.minMaxListItem .sapMILILabel {
	width: 50%
}

.minMaxListItem .sapMInputBaseReadonlyWrapper {
	border: hidden
}

.calendarFullDayAtBottom .sapMSinglePCGridContent {
	padding-top: 10px;
}

.operationListCompact .sapMListTblAlternateRowColorsPopin>:nth-child(4n-1), .operationListCompact .sapMListTblAlternateRowColorsPopin>:nth-child(4n) {
	background-color: #cecece;
}

.operationListCompact .sapMListTblCell {
	padding: 0 0 0 0;
}

.operationListCompact .sapMListTblCell .sapMText {
	padding-top: 0.25rem;
}

.operationListCompact .sapMListTblSubCnt {
	padding: 0 0 0 0.875rem;
	margin-top: -3rem !important;
}

.operationListCompact .sapMListTblHighlightCell+.sapMListTblCell {
	padding-left: 0.875rem;
}

.operationListCompact .sapMLIBSelected+.sapMListTblSubRow, .operationListCompact .sapMLIBSelected.sapMListTblRowAlternate+.sapMListTblSubRow {
	background-color: #e8eff6!important;
}

.operationListCompact .sapMLIB.sapMLIBSelected {
	background-color: #e8eff6!important;
}


@media screen and (min-width: 700px) {
	.operationListButton {
		position: absolute;
		margin-top: 20px;
		margin-left: -20px;
	}
}
@media screen and (max-width: 700px) {
	.operationListButton.sapMBtnBase.sapMBtn.darkButton {
		padding-top: 35px!important;
		margin-right: 20px;
		margin-left: -20px;
	}
}

@media screen and (min-width: 700px) {
	.operationListButton2 {
		margin-top: -10px;
		position: absolute;
		margin-left: -20px;
	}
}

@media screen and (max-width: 700px) {
	.operationListButton2.sapMBtnBase.sapMBtn.darkButton {
		padding-top: 35px!important;
		margin-right: 20px;
		margin-left: -20px;
	}
}

.operationListCompact .sapMListTblRow {
    	height: 4rem !important;
}

.marignForOrderID {
	margin-bottom: 4.7rem !important;
}

.sapMSticky>.sapMListHdrTBar.sapMTB-Transparent-CTX {
	background: white!important;
}

.showmanToolbar {
	background: #3c5b70 !important;
}

.showmanToolbar .sapMBtnInner{
	background: #3c5b70!important;
	border: none!important;
	color: white!important;
}

.showmanToolbar .sapMTitle{
	color: white !important;
}

.showmanToolbar .sapMBtnIcon{
	color: white !important;
}

.sapMSinglePCRowHeader, .sapMSinglePCNowMarkerText
{
	text-align: right !important;
}

