/*
.RFIDBUTTON .sapMBtnInner {
    background-color: white!important;
    border: 1px solid white!important
}

.RFIDBUTTON .sapMBtnInner.sapMBtnText {
    color: #3c5b70!important;
}*/

.SRBGridLayout .sapUiFormResGridCont {
    padding-bottom: 0rem!important;
}
