:root {
    /* Main color for the header section */
    --main-ui-color: #4184b1;
    /* Contrast color against main color*/
    --main-ui-contrast: #FFFFFF;
    /* Color for the table headers and tob sub-navigations */
    --table-header-color: #3c5b70;
    /* Color for the grouping within the tables */
    --table-grouping-color: #FFFFFF;
    /* Color for the highlighted objects (standard = ) */
    --ui-highlight-color: #fbb100;
    /* Color for links */
    --ui-link-color: #cb8f00;
    /* Color for tableheader-font-color */
    --ui-tableheader-font-color: #FFFFFF;
}

.loginPageStyle {
    background: url("../img/login_background.jpg") no-repeat center center fixed;
    background-color: #FFFFFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: auto;
}

.loginPageStyle .sapMLabel{
    color: white!important;
}

/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("../font/Montserrat-Thin.eot");
    src: url("../font/Montserrat-Thin.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-Thin.woff2") format("woff2"),
    url("../font/Montserrat-Thin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("../font/Montserrat-ThinItalic.eot");
    src: url("../font/Montserrat-ThinItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-ThinItalic.woff2") format("woff2"),
    url("../font/Montserrat-ThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("../font/Montserrat-ExtraLight.eot");
    src: url("../font/Montserrat-ExtraLight.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-ExtraLight.woff2") format("woff2"),
    url("../font/Montserrat-ExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url("../font/Montserrat-ExtraLightItalic.eot");
    src: url("../font/Montserrat-ExtraLightItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-ExtraLightItalic.woff2") format("woff2"),
    url("../font/Montserrat-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("../font/Montserrat-Light.eot");
    src: url("../font/Montserrat-Light.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-Light.woff2") format("woff2"),
    url("../font/Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("../font/Montserrat-LightItalic.eot");
    src: url("../font/Montserrat-LightItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-LightItalic.woff2") format("woff2"),
    url("../font/Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../font/Montserrat-Regular.eot");
    src: url("../font/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-Regular.woff2") format("woff2"),
    url("../font/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("../font/Montserrat-Italic.eot");
    src: url("../font/Montserrat-Italic.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-Italic.woff2") format("woff2"),
    url("../font/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../font/Montserrat-Medium.eot");
    src: url("../font/Montserrat-Medium.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-Medium.woff2") format("woff2"),
    url("../font/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("../font/Montserrat-MediumItalic.eot");
    src: url("../font/Montserrat-MediumItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-MediumItalic.woff2") format("woff2"),
    url("../font/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("../font/Montserrat-SemiBold.eot");
    src: url("../font/Montserrat-SemiBold.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-SemiBold.woff2") format("woff2"),
    url("../font/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("../font/Montserrat-SemiBoldItalic.eot");
    src: url("../font/Montserrat-SemiBoldItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-SemiBoldItalic.woff2") format("woff2"),
    url("../font/Montserrat-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../font/Montserrat-Bold.eot");
    src: url("../font/Montserrat-Bold.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-Bold.woff2") format("woff2"),
    url("../font/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("../font/Montserrat-BoldItalic.eot");
    src: url("../font/Montserrat-BoldItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-BoldItalic.woff2") format("woff2"),
    url("../font/Montserrat-BoldItalic.woff") format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url("../font/Montserrat-ExtraBold.eot");
    src: url("../font/Montserrat-ExtraBold.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../font/Montserrat-ExtraBold.woff") format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url("../font/Montserrat-ExtraBoldItalic.eot");
    src: url("../font/Montserrat-ExtraBoldItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
    url("../font/Montserrat-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("../font/Montserrat-Black.eot");
    src: url("../font/Montserrat-Black.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-Black.woff2") format("woff2"),
    url("../font/Montserrat-Black.woff") format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("../font/Montserrat-BlackItalic.eot");
    src: url("../font/Montserrat-BlackItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/Montserrat-BlackItalic.woff2") format("woff2"),
    url("../font/Montserrat-BlackItalic.woff") format("woff");
}

/** =================== MONTSERRAT ALTERNATES =================== **/

/** Montserrat Alternates Thin **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: normal;
    src: url("../font/MontserratAlternates-Thin.eot");
    src: url("../font/MontserratAlternates-Thin.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-Thin.woff2") format("woff2"),
    url("../font/MontserratAlternates-Thin.woff") format("woff");
}

/** Montserrat Alternates Thin-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: italic;
    src: url("../font/MontserratAlternates-ThinItalic.eot");
    src: url("../font/MontserratAlternates-ThinItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-ThinItalic.woff2") format("woff2"),
    url("../font/MontserratAlternates-ThinItalic.woff") format("woff");
}

/** Montserrat Alternates ExtraLight **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: normal;
    src: url("../font/MontserratAlternates-ExtraLight.eot");
    src: url("../font/MontserratAlternates-ExtraLight.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-ExtraLight.woff2") format("woff2"),
    url("../font/MontserratAlternates-ExtraLight.woff") format("woff");
}

/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: italic;
    src: url("../font/MontserratAlternates-ExtraLightItalic.eot");
    src: url("../font/MontserratAlternates-ExtraLightItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-ExtraLightItalic.woff2") format("woff2"),
    url("../font/MontserratAlternates-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Alternates Light **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: normal;
    src: url("../font/MontserratAlternates-Light.eot");
    src: url("../font/MontserratAlternates-Light.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-Light.woff2") format("woff2"),
    url("../font/MontserratAlternates-Light.woff") format("woff");
}

/** Montserrat Alternates Light-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: italic;
    src: url("../font/MontserratAlternates-LightItalic.eot");
    src: url("../font/MontserratAlternates-LightItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-LightItalic.woff2") format("woff2"),
    url("../font/MontserratAlternates-LightItalic.woff") format("woff");
}

/** Montserrat Alternates Regular **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
    src: url("../font/MontserratAlternates-Regular.eot");
    src: url("../font/MontserratAlternates-Regular.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-Regular.woff2") format("woff2"),
    url("../font/MontserratAlternates-Regular.woff") format("woff");
}

/** Montserrat Alternates Regular-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: italic;
    src: url("../font/MontserratAlternates-Italic.eot");
    src: url("../font/MontserratAlternates-Italic.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-Italic.woff2") format("woff2"),
    url("../font/MontserratAlternates-Italic.woff") format("woff");
}

/** Montserrat Alternates Medium **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: normal;
    src: url("../font/MontserratAlternates-Medium.eot");
    src: url("../font/MontserratAlternates-Medium.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-Medium.woff2") format("woff2"),
    url("../font/MontserratAlternates-Medium.woff") format("woff");
}

/** Montserrat Alternates Medium-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: italic;
    src: url("../font/MontserratAlternates-MediumItalic.eot");
    src: url("../font/MontserratAlternates-MediumItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-MediumItalic.woff2") format("woff2"),
    url("../font/MontserratAlternates-MediumItalic.woff") format("woff");
}

/** Montserrat Alternates SemiBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: normal;
    src: url("../font/MontserratAlternates-SemiBold.eot");
    src: url("../font/MontserratAlternates-SemiBold.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-SemiBold.woff2") format("woff2"),
    url("../font/MontserratAlternates-SemiBold.woff") format("woff");
}

/** Montserrat Alternates SemiBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: italic;
    src: url("../font/MontserratAlternates-SemiBoldItalic.eot");
    src: url("../font/MontserratAlternates-SemiBoldItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-SemiBoldItalic.woff2") format("woff2"),
    url("../font/MontserratAlternates-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Alternates Bold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: normal;
    src: url("../font/MontserratAlternates-Bold.eot");
    src: url("../font/MontserratAlternates-Bold.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-Bold.woff2") format("woff2"),
    url("../font/MontserratAlternates-Bold.woff") format("woff");
}

/** Montserrat Alternates Bold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: italic;
    src: url("../font/MontserratAlternates-BoldItalic.eot");
    src: url("../font/MontserratAlternates-BoldItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-BoldItalic.woff2") format("woff2"),
    url("../font/MontserratAlternates-BoldItalic.woff") format("woff");
}

/** Montserrat Alternates ExtraBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: normal;
    src: url("../font/MontserratAlternates-ExtraBold.eot");
    src: url("../font/MontserratAlternates-ExtraBold.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-ExtraBold.woff2") format("woff2"),
    url("../font/MontserratAlternates-ExtraBold.woff") format("woff");
}

/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: italic;
    src: url("../font/MontserratAlternates-ExtraBoldItalic.eot");
    src: url("../font/MontserratAlternates-ExtraBoldItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2"),
    url("../font/MontserratAlternates-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Alternates Black **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 900;
    font-style: normal;
    src: url("../font/MontserratAlternates-Black.eot");
    src: url("../font/MontserratAlternates-Black.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-Black.woff2") format("woff2"),
    url("../font/MontserratAlternates-Black.woff") format("woff");
}

/** Montserrat Alternates Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("../font/MontserratAlternates-BlackItalic.eot");
    src: url("../font/MontserratAlternates-BlackItalic.eot?#iefix") format('embedded-opentype'),
    url("../font/MontserratAlternates-BlackItalic.woff2") format("woff2"),
    url("../font/MontserratAlternates-BlackItalic.woff") format("woff");
}

/*========= OMS Icon Font ===============*/
/* https://blogs.sap.com/2015/11/02/enhance-ui5-app-with-custom-icon-fonts/ */
@font-face {
    font-family: "OMS";
    font-weight: 100;
    font-style: normal;
    src: url("../font/OMS_Icon_Font-Regular.eot");
    src: url("../font/OMS_Icon_Font-Regular.eot?#iefix") format('embedded-opentype'),
    url("../font/OMS_Icon_Font-Regular.woff2") format("woff2"),
    url("../font/OMS_Icon_Font-Regular.woff") format("woff");
}

/* Montserrat */
.sapUiBody, .sapMLabel {
    font-family: "Montserrat" !important;
}

.sapMColumnHeaderContent, .sapMTitleTB, .sapMITBText, .sapMTitle, .sapMLabel {
    color: var(--ui-tableheader-font-color) !important;
    font-family: "Montserrat";
}

.sapMText {
    font-family: "Montserrat";
}

.sapMITBText {
    font-family: "Montserrat";
}

/***********************************************************************/


.box-center {
    text-align: center;
}
.sapTntToolPageHeader {
    background-color: var(--main-ui-color)!important;
}
.sapTntToolPageHeader .sapMText {
    color: white!important;
}

.sapUiVltCell > .sapMTitle {
    color: black !important;
}

.vertical-center {
    justify-content: center;
}

.font-bold {
    font-weight: bold !important;
}

/*.sapUiRespGrid .sapMLabel {
    font-weight: bold !important;
}*/

.statusBadge {
    background: #346187;
    padding: .4rem .5rem;
    border-radius: 0.5rem;
    border: 1px solid #dedede;
    color: white;
    font-weight: bold;
}

.grid-vertical-center {
    display: flex;
    align-items: center;
}

.description-text {
    font-size: 1.3rem !important;
    font-weight: bold !important;

}

.float-right {
    float: right;
}

.sapMPanel .sapMLabel, .sapMPanel .sapMText, .sapMPanel .sapMTitle{
    color: #32363a !important;
}

.mscPanel .sapMBtnInner {
    background-color: white!important;
    /*border-color: #32363a!important;*/
}

.mscPanel .sapMBtnIcon {
    color: #32363a!important;
}

.sapMPanelContent th {
    background: white!important;
}

.sapMPanelContent .sapMBtnInner {
    border: none!important;
}

.sapMPanelContent .sapMListTblCell {
    vertical-align: middle!important;
    border-bottom: 1px solid lightgrey!important;;
}


.sapMBtn[data-highlight="true"] {
    border-bottom: 2px solid #ff0000;
}

.sapFDynamicPageTitleMainHeading .sapMTitle {
    font-weight: bold!important;
}

.listIconVBox {
    width: 1.5rem;
}

.orderListItemFlexBox > div:nth-child(2) {
    width: 5rem;
}

.orderListItemTitle {
    font-size: 1rem;
}

.noMarginTop {
    padding-top: 0;
}

.orderListItemGrid, .sapUiRespGridHSpace1 {
    padding: 0 0.5rem 0 0 !important;
}

.sapMTitle, .sapMITBTextOnly .sapMITBFilterDefault>.sapMITBText {
    text-shadow: 0 0 0 !important;
}

.sapFDynamicPageToggleHeaderIndicator .sapMBtnIcon {
    color: #32363a !important;
}

/* Custom Classes */

.overviewTitle {
    color: #32363a !important;
    font-weight: bold;
}

.overViewOperations {
    background: #3c5b70!important;
}

.objectsToolbar {
    background: #3c5b70 !important;
}

.sapMList > .overViewOperations {
    background: #3c5b70 !important;

}

.collapsedObjectForm > .sapUiRespGridSpanL3 > .sapMText {
    color: white !important;
}

.collapsedObjectForm > .sapUiRespGridSpanL3 > .sapMLabel {
    font-weight: bold;
}

.sapUiFormElementLbl > .sapMLabel {
    color: #32363a !important;
}

.sapMLIB.sapMLIBActive {
    background: white!important;
}

/* InspectionList */

.inspectionList .sapMListHdrTBar .sapMBtnInner{
    background-color: #3c5b70!important;
    border: none!important;
}

/***********************************************************************/

/*Table-/List Rows*/

th {
    background: var(--table-header-color) !important;
    color: var(--ui-tableheader-font-color) !important;
    font-family: "Montserrat";
}

tr {
    background: var(--table-grouping-color) !important;
}

.sapMLIB.sapMLIBSelected {
    color: white !important;
    background: var(--ui-highlight-color) !important;
}

.sapMLIB.sapMLIBSelected:hover {
    color: white !important;
    background: var(--ui-highlight-color) !important;
}

.sapMLIB.sapMLIBActive {
    color: white !important;
    background: var(--ui-highlight-color) !important;
}

.sapMLIB.sapMLIBActive:after {
    color: white !important;
    background: var(--ui-highlight-color) !important;
}

.sapMLIBSelected.sapMListTbl .sapMText {
    color: white !important;
}

.sapMLIBSelected.sapMListTbl .sapMBtnInner {
    background: var(--ui-highlight-color) !important;
}

tr[aria-selected="true"] .sapMText, .sapMListTblSubCntRow > .sapMListTblSubCntSpr {
    color: white !important;
}

.sapMLIBSelected + .sapMListTblSubRow {
    color: white !important;
    background: var(--ui-highlight-color) !important;
}

.sapMLIB.sapMLIBActive + .sapMListTblSubRow {
    color: white !important;
    background: var(--ui-highlight-color) !important;
}

.sapMLIBHoverable.sapMLIBSelected:hover + .sapMListTblSubRow {
    color: white !important;
    background: var(--ui-highlight-color) !important;
}

.sapMLIBSelected .sapMText, .sapMLIBSelected .sapMListTblCell .sapMText, .sapMLIBSelected .sapMListTblSubCntRow > .sapMText {
    color: white !important;
}

/*.sapMListTblCell {
    padding: 0.2rem 0.2rem 0.5em 0.5rem!important;
}*/

/***********************************************************************/

/*Toolpage Sidenavigation */
.sapTntNavLIGroup > .sapUiIcon {
    color: var(--main-ui-color) !important;
}

.sapContrast.sapTntNavLIItem, .sapContrast .sapTntNavLIItem {
    background-color: white !important;
}

.sapContrast.sapTntSideNavigation, .sapContrast .sapTntSideNavigation {
    background: white !important;
}

.sapContrast.sapTntNavLIItem > .sapMText, .sapContrast .sapTntNavLIItem > .sapMText {
    color: #3f5161 !important;
    font-family: "Montserrat";
}

.sapTntNavLIGroup:not(.sapTntNavLIItemDisabled):active {
    background-color: var(--ui-highlight-color) !important;
    border-bottom: 1px solid #e5e5e5;
    color: #ffffff;
}

.sapTntNavLIItemSelected .sapTntNavLIGroup {
    background-color: var(--ui-highlight-color) !important;
    border-bottom: 1px solid #e5e5e5;
    color: #ffffff !important;
}

.sapTntNavLIItemSelected .sapTntNavLIGroup > .sapUiIcon {
    color: #ffffff !important;
}

.sapTntNavLIGroup {
    border-bottom: 1px solid var(--main-ui-color) !important;
}

.customSideNavigation .sapTntNavLIItem {
    height: 2.95rem !important
}

/*Links*/
.sapMLnk:hover:not(.sapMLnkDsbl) {
    color: var(--ui-link-color) !important;
}

.sapMLnk:visited {
    color: var(--ui-link-color) !important;
}

.sapMLnk {
    color: var(--ui-link-color) !important;
}

/***********************************************************************/

/*Buttons*/
:not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive {
    background-color: var(--ui-highlight-color)!important;
    border-color: var(--ui-highlight-color)!important;
    color: white;
}

.orderMaterialContainer .sapMBtn{
    width: 20%!important;
}

.mscPanel .sapMBtnInner {
    /*background-color: white!important;*/
    border-color: #32363a!important;
}

.mscPanel .sapMBtnIcon {
    color: #32363a!important;
}

span.sapMBtnInner.sapMBtnAccept {
    border-color: #32363a!important;
}

.sapMFlexBox .sapMBtnInner {
    border: 1px solid #32363a!important;
}

.sapMListTblSelCol, .sapMListTblHasNav .sapMListTblNavCol {
    width: 0 !important;
}

.sapUiFormContainerToolbar .sapMBtnIcon {
    color: #32363a!important;
}

.sapMListItems .sapMBtnIcon{
    color: #32363a!important;;
}

.sapMListHdrTBar .sapMBtnDisabled.sapMBtnIcon {
    color: white!important;
}

.sapMListHdrTBar .sapMBtnDisabled .sapMBtnInner{
    background: #4184b1!important;
}

tr[aria-selected="true"] .sapMBtnIcon{
    color: white!important;
}

.sapMLIBSelected .sapMBtn, .sapMLIBSelected .sapMBtn > .sapMBtnIcon {
    color: white!important;
}

.descriptionSaveButton .sapMBtnContent{
    color: black!important;
}

.descriptionSaveButton {
    padding-right: 3rem!important;
}

.hamburgerBtn {
    background: white !important;
    color: var(--main-ui-color) !important;
    text-shadow: none !important;
    width: 3rem !important;
    margin-left: 0 !important;
    height: 2.9rem !important;
}

.sapFAvatarIcon {
    background: var(--main-ui-color)!important;
}

.sapFAvatarCircle {
    border: 0.125rem solid white!important;
}

.hamburgerBtn .sapMBtnIcon{
    color: #4184b1!important;
}

.sapMBtnCustomIcon, .sapMBtnIcon {
    color: white!important;
}

.sapMBtnContent {
    color: white!important;
}

.sapUiFupInputMask {
    height: 0 !important;
}


/* mapsButton */

.mapsButton .sapMBtnInner{
    background-color: #4184b1!important;
    border: none !important;

}

.mapsButton .sapMBtnIcon{
    color: white!important;

}

/* routeButton */
.routeButton .sapMBtnInner {
    background-color: transparent !important;
    border: none !important;
}

/* warningButton */
.warningButton .sapMBtnInner {
    background-color: transparent !important;
    border: none !important;
}

.sapUiFormContainerToolbar .sapMTB-Transparent-CTX .sapMBtnInner {
    border-color: #383838!important;
}

.warningButton .sapMBtnIcon {
    color: red !important;
}

.sapMListTblRow .sapMBtnInner {
    margin-left: 0.2rem !important;
    margin-right: 0.2rem !important;
}

/* completeButton */
.completeButton span {
    background-color: #abe2ab !important;
    border: #abe2ab !important;
    color: #435667 !important;
    text-shadow: 0 0 0.125rem #abe2ab !important;
}

/* rejectButton */
.rejectButton span {
    background-color: #ff8888 !important;
    border: #ff8888 !important;
    color: #435667 !important;
    text-shadow: 0 0 0.125rem #ff8888 !important;
}

/* sapMDialogEndButton */
.sapMDialogEndButton .sapMBtnInner {
    border: 1px solid white!important;
    background: #383838!important;
}

/* sapMDialogBeginButton */
.sapMDialogBeginButton .sapMBtnInner{
    border: 1px solid white!important;
    background: #383838!important;
}

.sapMBtnEmphasized {
    font-weight: normal!important;
}

.routeButton .sapMBtnIcon {
    color: var(--main-ui-color) !important;
}

.sapMITH, .sapMTBStandard {
    border-bottom: 0px !important;
    Box-shadow: inset 0 0 0 0 !important;
}

.sapUiFormResGrid.sapMIBar, .sapUiFormResGrid.sapMTB {
    background: var(--table-header-color) !important;
}

.sapMBtn > .sapMBtnText {
    color: #3c5b70 !important;
}

.sapMDialogScrollCont .sapMBtnInner {
    border: 1px solid white!important;
    background: #32363a!important;
}

.sapMPanelContent .sapMBtnIconFirst {
    margin-right: 0.5rem!important;
}

/***********************************************************************/

/*Custom grid*/
.listItemGrid {
    margin-left: 2rem !important;
}

.listItemGrid .sapUiFormResGridCont {
    padding-bottom: 0rem !important;
}

.listItemGrid .sapUiFormResGrid > div {
    padding: 0;
}

.listItemGrid .sapUiFormEdit .sapMText {
    padding-bottom: 0rem;
}

.listItemGrid .sapMInputBaseInner, .sapMVBox > span {
    padding: 0 0.3rem;
}

.listItemGrid .sapMVBox span {
    padding-left: 0.3rem;
}

.listItemGrid .sapUiFormResGridCont > .sapUiRespGridSpanL4:nth-child(n+2) {
    height: 34px;
    float: right;
}

.listItemGrid .sapMInputBaseInner {
    height: 1.9rem;
}

.listItemHeader {
    background: var(--main-ui-contrast) !important;
}

.listItemHeader .sapUiBlockCellContent {
    position: relative;
    padding: 0rem;
}

.listItemHeader .sapUiIcon {
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    padding-top: 1rem;
}

.listItemHeader .sapUiBlockLayoutRow .sapUiBlockLayoutCell:last-child .sapUiBlockCellContent {
    padding-right: 0.5rem;
}

.listItemHeader .sapUiBlockLayoutRow .sapUiBlockLayoutCell:first-child .sapUiBlockCellContent {
    padding-left: 0.5rem;
}

.listItemHeader .sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanL12) > .sapMLabel {
    text-align: start !important;
    float: none;
    position: relative;
}

.listItemHeader .sapUiFormResGrid.sapUiFormBackgrTranslucent > div {
    background-color: var(--main-ui-color) !important;;
}

.listItemHeader .sapUiFormResGridCont > .sapUiRespGridSpanL4:nth-child(n+2) {
    float: none;
}

.listItemHeader .sapUiForm .sapUiFormElementLbl > .sapMLabel:after {
    content: "";
}

.listItemHeader .sapUiFormResGridCont > .sapUiFormElementLbl:not(.sapUiRespGridSpanL12) > .sapMLabel {
    color: white;
    font-weight: bold
}

.listItemHeader .sapUiFormEdit .sapMText {
    color: white;
}

/***********************************************************************/

/*Panel*/
.mscPanel .sapMPanelWrappingDivTb {
    padding:0.5rem;
}
.mscPanel .sapMPanelWrappingDivTb .sapMIBar.sapMTB {
    margin-left: 4rem;
}
.mscPanel .sapMPanelExpandableIcon{
    font-size: 2rem;
}

.mscPanel .sapMPanelExpandableIconExpanded{
    display: inline-block;
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
}
.noPanelPadding .sapMPanelContent {
    padding:0!important;
}

.sapMPanelContent {
    padding: 0rem 1rem 1.375rem 1rem!important;
}

/***********************************************************************/

/* Backgrounds */

.sapMListHdr, .sapMListHdrTBar{
    background: var(--main-ui-color)!important;
}

.sapMListHdrTBar .sapMBtnInner{
    background: #4184b1!important;
    border:none!important;
}

.sapTntToolHeader {
    padding-left:0!important;
}

.sapTntToolHeader, .customToolbar, .tableFilterTabBar, .sapMITH, .sapFDynamicPageTitle, .sapFDynamicPageHeader, .sapFDynamicPageHeaderWithContent {
    background: var(--main-ui-color) !important;
}

/*.sapMITBSelected > .sapMITBContentArrow {*/
/*    Border-bottom-color: var(--ui-highlight-color) !important;*/
/*}*/

.sapMITBSelected>.sapMITBContentArrow::after {
    border-bottom-color: var(--ui-highlight-color)!important
}

.sapMLIBSelected, .sapMLIBSelected.sapMListTblRowAlternate {
    background: var(--ui-highlight-color) !important;
}

.sapMScrollContScroll {
    background: white !important
}

.sapUiFormResGridMain {
    background: white !important;
}

.sapFDynamicPageActualFooterControl {
    background: #383838!important;
}

.sapMIBar-CTX.sapMFooter-CTX {
    background: #383838!important;
    color: white!important;
}

.sapMIBar-CTX.sapMFooter-CTX .sapMBtnInner {
    background-color:inherit!important;
    border:none!important;
}

.sapMITBSelectItem.sapMITBSelectItemSelected {
    background: var(--ui-highlight-color) !important;
}

.sapMITBSelectItem {
    background: #4184b1!important;
}

.sapMScrollCont {
    background: white!important;
}

.sapMDialogTitle .sapMBar{
    background: #383838!important;
}

.sapUiView {
    background: white!important;
}

.partnerToolbar{
    background: #4184b1 !important;
}

.sapMBarChild .sapMITBContent {
    background: #4184b1 !important;
}

.sapMITBContent {
    background-color: white!important;
}

.sapMBarPH {
    background: #4184b1 !important;
}

.sapMDialog .sapMBarPH{
    background: #383838!important;
}

/***********************************************************************/


.sapUiFormM .sapUiRGLContainer {
    margin-top: 0!important;
}

/*.sapUiVlt.sapUiContentPadding {
    padding: 0 0 0 0!important;
}*/

/*.sapMScrollContScroll .sapUiContentPadding {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem!important;
}*/

.sapMSplitContainerHideMode>.sapMSplitContainerDetail .sapMITB.sapUiResponsiveContentPadding>.sapMITBContainerContent>.sapMITBContent, .sapMITB.sapUiResponsiveContentPadding>.sapMITBContainerContent>.sapMITBContent {
    padding: 0 0 0 0!important;
}

.sapUiFormResGrid>div {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem!important;
}

.sapMLightBoxFooter {
    background: #383838!important;
}

.colorInherit {
    color:inherit!important;
}

.colorUnset {
    color:unset!important;
}

.darkButton .sapMBtnIcon{
    color:#32363a!important;
}

.sapMITBInLine.sapMITBTextOnly>.sapMITBVertical.sapMITBFilter>.sapMITBText + .sapMITBContentArrow {
    height: 0.775rem!important;
}

.sapMITBInLine .sapMITBFilter>.sapMITBText {
    margin: 1rem 0 0 0!important;
}

.sapMSinglePC .sapMBtnContent, .sapMSinglePC .sapMBtnCustomIcon, .sapMSinglePC .sapMBtnIcon, .sapMSinglePC .sapMLabel, .sapMSinglePC .sapMTitle {
    color:unset!important;
}

.sapMTreeItemBase .sapMBtnIcon {
    color:black!important;
}

.RFIDBUTTON .sapMBtnInner {
    background-color: white!important;
    border: 1px solid white!important
}

.RFIDBUTTON .sapMBtnInner.sapMBtnText {
    color: #3c5b70!important;
}

