
/***********************************************************************/

/*Login Page*/
.loginPageStyle {

}

.loginImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 212px;
}

.loginImageSAM {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 106px;
}

.loginDiv {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.loginImagePopup{
    width: 80%;
    left: calc(10%);
    position: relative;
    display: block;
}

.loginGrid .sapMLabel {
    color: black;
    font-weight: bold;
}

.loginGrid .sapMBtnContent {
    color: #32363a!important;
}

.loginGrid .sapMTB {
    border-bottom: none;
}

.loginDivVersion {
    font-weight: bold;
}

.loginPageStyle>.sapMBtnContent{
    color: black!important;
}

.sapMLabel, .sapMColumnHeader .sapMText, .sapMTitle, .sapMBtnContent, .sapTntNavLIItem .sapMText, .sapMSLITitleOnly {
    text-transform: uppercase!important;
}

li[data-badge]::after {
    content: attr(data-badge);
    position: absolute;
    top: 0.15rem;
    /*left: 1.7rem;*/
    right: 5px;
    font-size: 0.75rem;
    padding: .1rem .2rem;
    text-align: center;
    border-radius: 30%;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
    color: #fff;
    background: rgba(187, 0, 0, 0.83);
    border-color: #bb0000;
    /*background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
    background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
    background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
    background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);*/
}

tr[data-backgroundExtraPay="X"] {
    background-color: lightgreen !important;
}

.sapUiSizeCompact .sapMSelectListItemBase {
    height: 2.5rem !important;
}

.sapMSelectListItem {
    padding: 0.2rem 1rem 0 1rem !important;
}